<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<listener>
		<listener-class>com.essamine.servlets.SetUp</listener-class>
	</listener>

	<servlet>
		<servlet-name>servletOne</servlet-name>
		<servlet-class>com.essamine.servlets.ServletOne</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servletOne</servlet-name>
		<url-pattern>/servlet</url-pattern>
	</servlet-mapping>

	<!-- listner -->
	<listener>
		<display-name>listnerone</display-name>
		<listener-class>com.essamine.listners.ClassListner</listener-class>
	</listener>


	<!-- Filter -->
	<filter>
		<filter-name>filterone</filter-name>
		<filter-class>com.essamine.filters.CustomFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>filterone</filter-name>
		<servlet-name>servletOne</servlet-name>
	</filter-mapping>
</web-app>